html {
  font-family: sans-serif;
}

.masthead {
  padding: 0;
  margin: 0;
  background: ghostwhite;
}

.img-flex {
  width: 100%;
  display: block;
}

.nav-top {
    display: none;
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.nav-top li {
  color: lightblue;
  padding: 0;
  margin: 0;
  text-align: left;
}

.nav-top a,
.nav-top:link,
.nav-top:visited {
  text-decoration: none;
  color: white;
}

.current {
  background-color: white;
  color: grey;
  padding: 0.1em;
}

.curent a,
.current:link,
.current:visited {
  color: grey;
}

.nav-check:checked ~ .nav-top {
	display: block;
  background-color: grey;
  padding: 0.5em;
}

.nav-check {
	/* Put the checkbox off the top of the screen */
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 50px;
}

.nav-label img {
  display: block;
  width: 100%;
  padding: .5em;
}

h1 {
  padding: .9em;
}

main {
  background-color: lightblue;
}

img {
  width: 100%;
  display: block;
}

.image-wrapper {
  position: relative;
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/header.jpg);
  padding-top: 60%;
  background-size: cover;
  background-position: center;
}

.image-wrapper h2 {
  position: absolute;
  top: 1%;
  padding: 1.5em;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: normal;
}

.image-wrapper h3 {
  position: absolute;
  top: 60%;
  padding: 1.5em;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: normal;
}

.tour {
  position: relative;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/tour.jpg);
  padding-top: 50%;
  background-size: cover;
  background-position: center;
}

.tour h2{
  position: absolute;
  top: 1%;
  padding: 2em;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  line-height: normal;
}

.tour a,
.tour:link,
.tour:visited {
  text-decoration: none;
  color: white;
}

.packages {
  position: relative;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/packages.jpg);
  padding-top: 50%;
  background-size: cover;
  background-position: center;
}

.packages h2{
  position: absolute;
  top: 1%;
  padding: 2em;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  line-height: normal;
}

.packages a,
.packages:link,
.packages:visited {
  text-decoration: none;
  color: white;
}

.signup {
  position: relative;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/signup.jpg);
  padding-top: 50%;
  background-size: cover;
  background-position: center;
}

.signup h2{
  position: absolute;
  top: 1%;
  padding: 2em;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  line-height: normal;
}

.signup a,
.signup:link,
.signup:visited {
  text-decoration: none;
  color: white;
}

.button {
  margin: .5em;
}

footer {
  background-color: midnightblue;
  padding: 0;
  margin: 0;
}

.foot h6 {
  padding-left: .4em;
}

.nav-bottom ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.nav-bottom li {
  color: lightblue;
  padding: 0 .1em;
  margin: 0;
  display: inline-block;
}

.nav-bottom a,
.nav-bottom:link,
.nav-bottom:visited {
  text-decoration: none;
  color: white;
}

h5 {
  text-align: right;
  padding-top: 3em;
  padding-right: 0.4em;
  padding-bottom: 0;
}

.copy {
  padding-top: 1em;
}

h2 {
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h1 a,
h1:link,
h1:visited {
  text-decoration: none;
  color: black;
}

.stat {
  padding: 1em;
}

.stat ul {
  padding-top: 0;
  padding-left: 1em;
}

.stat h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.th2 {
  padding-top: 1em;
}

.price {
  margin: 2em;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

label {
  display: block;
}

form div {
  margin-bottom: 1.5rem;
}

input,
select,
textarea {
  font-size: 1.125rem;
  width: 15em;
}

textarea {
  height: 10em;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 0.3em;
}

button {
  font-size: 1.125rem;
  padding: 0.5 em 0.75em;
  background-color: #0f0;
  border: 3px solid #3c3;
  color: #363;
  border-radius: 6px;
  cursor: pointer;
}

form {
  padding: 2em;
}
