html {
  font-family: sans-serif;
}

.masthead {
  padding: 0;
  margin: 0;
  background: lightblue;
}

.img-flex {
  width: 100%;
  display: block;
}

.nav-top {
    display: none;
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.nav-top li {
  color: lightblue;
  padding: 0;
  margin: 0;
  text-align: left;
}

.nav-top a,
.nav-top:link,
.nav-top:visited {
  text-decoration: none;
  color: white;
}

.current {
  background-color: white;
  color: grey;
  padding: 0.1em;
}

.curent a,
.current:link,
.current:visited {
  color: grey;
}

.nav-check:checked ~ .nav-top {
	display: block;
  background-color: grey;
  padding: 0.5em;
}

.nav-check {
	/* Put the checkbox off the top of the screen */
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 50px;
}

.nav-label img {
  display: block;
  width: 100%;
  padding: .5em;
}

h1 {
  padding: .5em;
}

img {
  width: 100%;
  display: block;
}

.image-wrapper {
  position: relative;
  width: 100%;
  background-image: url(http://placehold.it/320x220);
  padding-top: 60%;
  background-size: cover;
  background-position: center;
}
.image-wrapper h2 {
  position: absolute;
  top: 35%;
  padding: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}
